.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 255, 240);
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.score-container {
    font-size: 20px;
}

.results-container {
    display: flex;
    margin: 30px;
    gap: 20px;
}

.player-pick-container, .computer-pick-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #888888;
    border-width: 0.5px;
    border-radius: 10px;
    box-shadow: 2px 6px 5px #888888;
    padding-top: 0;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(178, 255, 229);
}

.choice-img {
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
}

.round-result {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.winner {
    display: flex;
    height: 20px;
}

.rps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1in;
}

.rps-container button {
    width: 150px;
    background-color: rgb(112, 170, 151);
    padding: 10px;
    border-radius: 10px;

}

.reset-container {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.score-container {
    display: flex;
    gap: 2in;
}